<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>秒杀失败</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="Navbar::headerDiv"></div>
秒杀失败：<p th:text="${errmsg}"></p>
</body>
<!--footer-->
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="col-sm-offset-5 col-sm-5">
        解释权归<a href="www.cenjp.cn">www.cenjp.cn</a>所有<br>
    </div>
    <div class="col-sm-offset-5 col-sm-5">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.miitbeian.gov.cn">许可证:KVW867</a>
    </div>
</div>
</html>
